body{
	overflow: hidden;
}

.tdIcon{
	text-align: right !important;
	padding-right: 25px !important;
}

.tdIcon a{
	color: white !important;
}

.tdIcon svg{
	margin-left: 10px;
}

button.addButt{
	padding: 5px 10px 5px 10px;
	margin-bottom: 15px;
	margin-right: 10px;
	font-size: 0.8rem !important;
	border-radius: 10px;
	background: #8774E1;
	color: white;
	border: none;
}

.sidebarNewFature{
	height: 100vh;
	position: absolute;
	z-index: 5 !important;
	background: #18191a;
	width: 300px;
	right: -300px;
	top: 0;
	transition: all 0.4s;
}
.sideOpenBar{
	right: 0;
}
.sideFinanContent{
	padding: 40px;
	padding-top: 20px;
}
.sideFinanContent option{
	color: #18191a !important;
}
.sideFinanContent input,
.sideFinanContent select,
.sideFinanContent textarea{
	width: 100%;
	padding: 10px;
	border-radius: 15px;
	background: transparent;
	border: 1px solid #FFFFFF20;
	color: #FFFFFF90;
	font-weight: 300 !important;
	font-size: 0.8rem;
}
.sideFinanContent input::placeholder{
	color: #FFFFFF30 !important;
}
.sideFinanContent label{
	font-size: 0.6rem;
	position: relative;
	bottom: -13px;
	color: #FFFFFF80;
	margin-left: 10px;
	padding: 5px;
	background: #18191a;
}

.sideFinanContent p.title{
	font-size: 1rem !important;
}

.sideFinanContent p.desc{
	font-size: 0.8rem !important;
	margin-bottom: 5px !important;
	color: #FFFFFF70;
}

.sideFinanContent button.save{
	width: 100%;
	color: white;
	border: none;
	padding: 10px;
	margin-top: 20px;
	border-radius: 15px;
	background: #8774E1;
	font-size: 0.8rem !important;
}

.sideFinanContent .sideIcon{
	padding: 13px 15px 13px 15px;
	border-radius: 15px;
	background: #8774E1;
	color: white;
	font-size: 0.8rem !important;
}